/*  AUTHOR : AHMED GAMAL
    TIME : 2:00 PM
    TITLE : Pop-Up Slider
    USING : BOOTSTRAP, JQUERY
*/


h2 {
    text-align: center
}
img {
    width: 33%;
}
img:hover {
    transform: scale(1) rotate(2deg);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
    box-shadow: 0 0 7px rgba(0, 0, 0, .5)
}